:root {
    --main-height: 80vh;
    --min-main-height: 400px;
    --background-color: #f7f7f7;
    --primary-color: #006400;
}

/*bootstrap override*/

.row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.card-deck {
    width: 100%;
}

.card-deck .card {
    background-color: var(--background-color);
    border: none;
    border-radius: 0;
    height: 400px;
    line-height: 1.5;
    margin: 0;
    padding: 40px 20px;
    text-align: center;
}

.card-deck .card:nth-of-type(2) {
    background-color: white;
}


.card-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.card-block hr {
    width: 70%;
}

.btn-outline-primary{
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn {
    cursor: pointer;
}

/*Custom styles*/

body {
    background-color: var(--background-color);
}

.slide {
    margin: 25px auto;
}

.slide-1 {
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
}

.slide-1-text {
    margin: auto;
}

.slide-title-underliner {
    width: 100px;
    border-top: 3px solid var(--primary-color);
}

.slide-1-background {
    background: url("/static/img/3.jpg") bottom;
    background-size: cover;
    background-position-y: 10%;
    height: var(--main-height);
    min-height: var(--min-main-height);
    margin-bottom: 50px;
}

.darken {
    width: 100%;
    height: var(--main-height);
    min-height: var(--min-main-height);
    background-color: black;
    opacity: 0.5;
    position: absolute;
}

.slide-title {
    margin: 25px auto;
}

.column-text {
    text-align: left;
}

.slide-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    margin: 30px auto;
}

.column-subtitle {
    height: 75px;
}

.footer {
    background-color: gainsboro;
}

.footer-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 0;
}

.footer-links li {
    padding: 5px 10px;
}
